body {margin:0;padding:0;height:100%;}
div.topdiv {clear:both;position:fixed;top:0;height:50%;width:100%;color:#000000;font-size:50px;text-align:center;}
div.bottomdiv {clear:both;position:fixed;bottom:0;height:50%;width:100%;color:#000000;font-size:50px;text-align:center;}
#grad {
  background: #FF00FF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, purple, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, purple, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, purple, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, purple, blue); /* Standard syntax */
}
.box {
  font-style: oblique;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-0 {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Helvetica', cursive;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.button-0:hover,
.button-0:focus {
    text-decoration: none;
    color: #fff;
}

.button-0:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
